body {
            font-family:sans-serif ;
            max-width: 10;
            margin: 30;
            padding: 45;
            justify-content: center;
            align-items: center;
            height: 100vh;
            text-align: center;
            background-color: rgb(255, 255, 255);
}  
        button {
            color: rgb(202, 193, 193);
			background-color: rgb(162, 155, 137);
            cursor: pointer;
            width: 600px;
            height: 200px;
            border-radius: 2px;
            border-color: rgba(122, 122, 122, 0.986);
            border-style: dashed;
			display: flex;
			align-items: centre;
			justify-content: center;
			padding-top:40px;
			font-size:large;
            margin:0 auto;
            opacity:0.6;
        }
        #preview img {
            margin-top: 10px;
            justify-content: center;
            max-width:1000px;
            max-height:300px;
            display:inline-block;
        }